*{
    padding: 0;
    margin: 0;
    color: #000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

figure{
    display: flex;
    justify-content: center;
}

figure img{
    width: 250px;
}

/* navbar */
nav{
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    background-color: #9f9b9b;
    padding-bottom: 40px;
}
nav a{
    position: relative;
    top: 15px;
    color: black;
    text-decoration: none;
}

/* home */
.home{
    display: flex;
    justify-content: space-evenly;
    margin-right: 50px;
}
.home img{
    rotate: 0deg;
    position: relative;
    top: 30px;
    left: -40px;
    width: 400px;
}
.home div{
    padding-top: 100px;
}
.home h2{
    font-size: 40px;
    font-weight: 800;
}
.home input{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;
}

/* Section */
section{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 40px
}
section p{
    padding-top: 30px;
}



/* best selling */
.best-sellings{
    padding-top: 20px;
}
.best-sellings h3{
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.group-cards{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}
.Books{
    height: 350px;
    border: 2px solid black;
    background-color: #e5edf3;border-radius: 5px;
    padding-bottom: 10px;

}
.Books img{
    width: 300px;
    height: 350px;
    border-radius: 5px;
    fill-opacity: (0.9);
}
.group-cards h6{
position: relative;
top: -120px;
text-align: center;
padding: 10px;
font-weight: bolder;
font-size: larger;
background-color: #21242539;
color: rgb(255, 255, 255);

}
.Books button{
    background-color: #21242539;
    color: rgb(255, 255, 255);
    width: 10vw;
    height: 7vh;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -120px;
    border: none;
    cursor: pointer;
}

/* Hover effects */
button:hover{
    font-size: larger;
    background-color: white;
    color: black;
}

button:active{
    color: white;
    background-color: #000;
}
nav a:hover{
    color: white;
}
/* Books Collection */
.card-group{
    display: flex;
    margin-top: -20px;
    margin-bottom: 30px
}
#Books{
    position: relative;
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 30px;
    font-size: x-large;
}
.card-group .card{
    width: 400px;
    height: 500px;
    padding: 30px;
    background-color: #e5edf3;
    margin: 10px;
    border: 1px solid#436E92;
}
.card-img-top{
    width: 323px;
    height: 300px;
}

.card .card-body{
    background-color: #373b3e9e;
}
.card-body .card-title{
    background-color: #373b3e9e;
    color: white;
    text-align: center;
    height: 60px;
    margin-bottom: 10px;
    padding-top: 10px;
}
.card button{
    background-color: #373b3e9e;
    color: rgb(255, 255, 255);
    height: 7vh;
    width: 10vw;
    display: block;
    margin: 0 auto;
    border: none;
    padding-top: 10px;
    margin-bottom: 10px;
}




/* Connect */
.connect{
    margin-top: 5px;
    background-color: #e5edf3;
    width: 80%;
    height: 100px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
} 
.connect h3{
    position: relative;
    bottom: 35px;
    padding-bottom: 20px;
    background-color: #e5edf3;
}
.connect svg{
    position: relative;
    bottom: 50px;
    width: 40px;
    height: 40px;
    background-color: #e5edf3;
}

/* Footer */
footer{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}
footer p{
    font-size: medium;

}
footer :first-child{
    font-size: large;
}
footer div a{
    color: #000;
    display: block;
    font-size: medium;
}
footer img{
    width: 30%;
    height: 160px;
}
/* copyright */
.copyright{
    margin-top: 70px;
    text-align: center;
   margin-bottom: 0;
}
.copyright p{
 color: #8f8e8e;
 font-size: medium;

}

/* Pc/Laptop */
@media(max-width : 900px){
    .home img{
        margin-left: 20px;
        width: 350px;
        margin-top: 20px;

    }
    .home h2{
        font-size: 30px;
        font-weight: 700px;

    }
    .Books-group{
        display: grid;
        justify-content: space-evenly;
    }
    .Books{
        margin-bottom: 10px;
        
    }
    .Books button{
        width: 15px;
        height: 7ph;
    }
    .card-group{
        display: grid;

    }
    .card-group .card-title{
        font-size: 1.5vw;
        padding-top: 10px;

    }
    footer p{
        font-size: 1vw;
    }
    footer div p {
        font-size: 1vw;
    }
    footer img{
        width: 40%;
    }

}



/* for mobile apps */
@media(max-width : 420px){
    figue{
        margin-top: -15px;
    }
    figure img{
        width: 100px;
    }

/*  */home
    .home{
        margin-right: 10px;
    }
    .home div{
        padding: 70px;
        margin-left: 40px;
    }
    .home div{
        width: 200px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .home h2{
        font-size: 10px;
    }
    .home input{
        width: 100px;
        height: 20px;
        margin-top: 7px;
    }  
    
    .best-selling{
        margin-left: 5px;
        margin-right: 5px;
    }
    .group-cards{
        overflow-x: auto;
        margin-bottom: 30px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
/* Section */
    section{
        padding-bottom: 10px;
        padding-top: 30px;
    }
    section h3{
        font-size: medium;
    }
    section p{
        font-size: smaller;
        padding-top: 10px;
    }
/* best sellers */
.Books-group{
    display: grid;
    margin-left: 10px;

}
.Books{
    margin-bottom: 20px;
}

.Books img{
    width: 300px;
    height: 350px;
}
.Books button{
    width: 20vw;
    height: 5vh;
    display: block;
    margin: 0 auto;
}

/* books collection */
.card-group{
    display: grid;
    margin-left: 22px;
}
.card-group .card{
    margin-bottom: 20px;
    margin-top: 40px;
    width: 320px;
    height: 470px;
    margin-left: -2px;
}
.card .card-title{
    height: 40px;
    font-size: small;
    padding-top: 3px;
}
.card button{
    background-color: #373b3e9e;
    color: rgb(255, 255, 255);
    width: 20vw;
    height: 5vh;
    display: block;
    margin: 0 auto;
    border: none;

}
/* connect */
.connect{
    background-color: #e5edf3;
   
}
.connect h3{
        font-size: medium;
        margin-top: -20px;
    }
.connect img{
    width: 30px;

}

/* footer */
footer{
    font-size: 2vw;

}
footer div :first-child{
    font-size: 2vw;
}
footer div a{
    font-size: 1.5vw;
}
footer img{
   visibility: hidden;
}


}
